.button-to-top {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 25px;
  width: 40px;
  height: 40px;
  color: whitesmoke;
  font-size: 33px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  text-align: center;
  padding: 3px 0;
}
